{
    "presets": [
      "@babel/preset-env",
    ],
    "plugins": [
        "syntax-async-functions",
        "@babel/plugin-transform-runtime",
        "add-module-exports",
        "@babel/transform-class-properties"
    ]
}
